<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LEAP_dis_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LEAP_dis_manager.Properties.Settings>
            <setting name="receivingIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="receivingPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="databaseIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="databasePort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="isMulticast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exerciseID" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="siteID" serializeAs="String">
                <value>0</value>
            </setting>
        </LEAP_dis_manager.Properties.Settings>
    </userSettings>
</configuration>